.messageSpinner__header {
    font-family: "GeosansLight", sans-serif;
    filter: drop-shadow(0 0 4px var(--gray-0));
    letter-spacing: 0.2rem;
}

.messageSpinner__spinner {
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(0 0 4px var(--gray-0));
  }
  
  /* Override for smaller devices (iPhones) */
  @media (max-width: 640px) {
    .messageSpinner__spinner {
      height: 3rem;
      width: 3rem;
    }
  }