.messageSpinner {
    border-top-color: var(--red-9);
}

.messageSpinner__header {
    font-family: "GeosansLight", sans-serif;
    filter: drop-shadow(0 0 4px var(--gray-0));
    letter-spacing: 0.2rem;
}

.messageSpinner__spinner {
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(0 0 4px var(--gray-0));
  }
  
  /* Override for smaller devices (iPhones) */
  @media (max-width: 480px) {
    .messageSpinner__spinner {
      height: 2rem;
      width: 2rem;
    }
  }