.shipSelection__header {
	font-family: var(--font-family-geosans);
	letter-spacing: var(--letter-spacing-wide);
	filter: drop-shadow(0 0 4px var(--accent-a2));
	color: var(--accent-11);
	font-weight: 400;
	font-size: var(--text-base);
	text-transform: uppercase;
	-webkit-text-stroke: 0.75px;
}
