.shipSelection__header {
  font-family: var(--font-family-geosans);
  letter-spacing: var(--letter-spacing-wide);
  filter: drop-shadow(0 0 4px var(--accent-a2));
  font-weight: var(--font-weight-bold);
  font-size: var(--text-base);
  text-transform: uppercase;
}
