# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/nms_optimizer-web/index.html
coverage/nms_optimizer-web/screenshot.cjs.html
coverage/nms_optimizer-web/server.js.html
coverage/nms_optimizer-web/tailwind.config.js.html
coverage/nms_optimizer-web/src/App.tsx.html
coverage/nms_optimizer-web/src/constants.ts.html
coverage/nms_optimizer-web/src/index.html
coverage/nms_optimizer-web/src/main.tsx.html
coverage/nms_optimizer-web/src/components/AppDialog/AppDialog.tsx.html
coverage/nms_optimizer-web/src/components/AppDialog/ChangeLogContent.tsx.html
coverage/nms_optimizer-web/src/components/AppDialog/ErrorContent.tsx.html
coverage/nms_optimizer-web/src/components/AppDialog/index.html
coverage/nms_optimizer-web/src/components/AppDialog/InstructionsContent.tsx.html
coverage/nms_optimizer-web/src/components/AppHeader/AppHeader.tsx.html
coverage/nms_optimizer-web/src/components/AppHeader/index.html
coverage/nms_optimizer-web/src/components/BuyMeACoffee/BuyMeACoffee.tsx.html
coverage/nms_optimizer-web/src/components/BuyMeACoffee/index.html
coverage/nms_optimizer-web/src/components/ErrorBoundry/ErrorBoundry.tsx.html
coverage/nms_optimizer-web/src/components/ErrorBoundry/index.html
coverage/nms_optimizer-web/src/components/GridCell/GridCell.tsx.html
coverage/nms_optimizer-web/src/components/GridCell/index.html
coverage/nms_optimizer-web/src/components/GridControlButtons/GridControlButtons.tsx.html
coverage/nms_optimizer-web/src/components/GridControlButtons/index.html
coverage/nms_optimizer-web/src/components/GridShake/GridShake.tsx.html
coverage/nms_optimizer-web/src/components/GridShake/index.html
coverage/nms_optimizer-web/src/components/GridTable/GridTable.tsx.html
coverage/nms_optimizer-web/src/components/GridTable/index.html
coverage/nms_optimizer-web/src/components/GridTableButtons/GridTableButtons.tsx.html
coverage/nms_optimizer-web/src/components/GridTableButtons/index.html
coverage/nms_optimizer-web/src/components/MessageSpinner/index.html
coverage/nms_optimizer-web/src/components/MessageSpinner/MessageSpinner.tsx.html
coverage/nms_optimizer-web/src/components/ShipSelection/index.html
coverage/nms_optimizer-web/src/components/ShipSelection/ShipSelection.tsx.html
coverage/nms_optimizer-web/src/components/TechTree/index.html
coverage/nms_optimizer-web/src/components/TechTree/TechTree.tsx.html
coverage/nms_optimizer-web/src/components/TechTreeRow/index.html
coverage/nms_optimizer-web/src/components/TechTreeRow/TechTreeRow.tsx.html
coverage/nms_optimizer-web/src/hooks/index.html
coverage/nms_optimizer-web/src/hooks/useAppLayout.tsx.html
coverage/nms_optimizer-web/src/hooks/useBreakpoint.tsx.html
coverage/nms_optimizer-web/src/hooks/useGridDeserializer.tsx.html
coverage/nms_optimizer-web/src/hooks/useOptimize.tsx.html
coverage/nms_optimizer-web/src/hooks/useShipTypes.tsx.html
coverage/nms_optimizer-web/src/hooks/useTechTree.tsx.html
coverage/nms_optimizer-web/src/hooks/useUrlSync.tsx.html
coverage/nms_optimizer-web/src/store/GridStore.ts.html
coverage/nms_optimizer-web/src/store/index.html
coverage/nms_optimizer-web/src/store/OptimizeStore.ts.html
coverage/nms_optimizer-web/src/store/ShakeStore.ts.html
coverage/nms_optimizer-web/src/store/TechStore.ts.html
stats.html
coverage/nms_optimizer-web/src/components/AppDialog/AboutContent.tsx.html
coverage/nms_optimizer-web/src/components/AppDialog/OptimizationAlertDialog.tsx.html
coverage/nms_optimizer-web/src/pages/AboutPage.tsx.html
coverage/nms_optimizer-web/src/pages/ChangeLogPage.tsx.html
coverage/nms_optimizer-web/src/pages/index.html
coverage/nms_optimizer-web/src/pages/InstructionsPage.tsx.html
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo
vite.config.js
