.techRow__label {
  color: var(--gray-12);
  filter: drop-shadow(0 0 0px var(--gray-a1));
}

.techRow__resetButton,
.techRow__optimizeButton {
  /* background-color: var(--accent-a4); */
}

.techRow__resetButton:hover,
.techRow__optimizeButton:hover {
  background-color: var(--accent-a5);
}

.techRow__resetButton:disabled,
.techRow__optimizeButton:disabled {
  background-color: var(--gray-a2);
}

.CheckboxRoot {
  background-color: var(--accent-9);
  width: 20px;
  height: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckboxRoot:hover {
  background-color: var(--accent-a5);
}


.CheckboxIndicator {
  color: var(--gray-12);
}

.Label {
  color: var(--gray-12);
}
