/* Grid Cell Styles (BEM) */
.gridCell {
	background-size: cover;
	background-position: center;
	background-color: var(--accent-a2);
	width: var(--grid-cell-size);
	height: var(--grid-cell-size);
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	image-rendering: high-quality;
}

.gridCell:focus-visible {
	outline: 2px solid var(--accent-track);
	outline-offset: 2px;
}

.gridCell__label {
	text-shadow:
		-1px -1px 2px rgba(0, 0, 0, 0.5),
		1px -1px 2px rgba(0, 0, 0, 0.5),
		-1px 1px 2px rgba(0, 0, 0, 0.5),
		1px 1px 2px rgba(0, 0, 0, 0.5),
		0px 0px 4px rgba(0, 0, 0, 0.75);
	color: var(--gray-a12);
	font-family: "Acumin";
}

.gridCell--interactive {
	cursor: pointer;
}

.gridCell--inactive {
	border-color: var(--gray-a6);
	background-color: var(--gray-a3);
}

.gridCell--inactive:hover {
	background-color: var(--gray-a4);
}

.gridCell--active {
	border-color: var(--accent-track);
	background-color: var(--accent-a3);
}

.gridCell--active:hover {
	background-color: var(--accent-a4);
}

.gridCell--active[data-accent-color="white"] {
	background-color: var(--gray-a3);
	border-color: var(--gray-12);
	border-width: 1px;
}

@media (min-width: 640px) {
	/* Transitions only on desktop */
	.gridCell--inactive:hover,
	.gridCell--active:hover,
	.gridCell--supercharged:hover,
	.gridCell--black:hover {
		transition: background-color 0.25s ease;
	}

	.gridCell--black:hover {
		transition: border-color 0.25s ease;
	}

	.gridCell--active[data-accent-color="white"] {
		border-width: 2px;
	}
}

.gridCell--active[data-accent-color="white"]:hover {
	background-color: var(--gray-a4);
}

.gridCell--supercharged {
	border-color: var(--accent-track);
	background-color: var(--purple-a3) !important;
}

.gridCell--supercharged:hover {
	background-color: var(--purple-a4) !important;
}

.gridCell--black {
	border-color: var(--gray-6);
	background-color: var(--gray-a3);
}

.gridCell--black:hover {
	background-color: var(--gray-a4);
}

.gridCell--glow {
	animation: pulseGlow 1s infinite alternate ease-in-out;
}

@keyframes pulseGlow {
	from {
		box-shadow: 0 0 4px 0px var(--accent-a3);
		border-color: var(--accent-track);
	}
	to {
		box-shadow: 0 0 4px 2px var(--accent-a6);
		border-color: var(--accent-12);
	}
}
