/* Grid Cell Styles (BEM) */
.gridCell {
  background-size: cover;  
  background-position: center;  
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
}


.gridCell--interactive {
  /* Styles for grid cells interaction*/
  cursor: pointer;
}

.gridCell--active {
  /* Styles for active grid cells */
  border-color: var(--blue-9);
}

.gridCell--inactive {
  /* Styles for inactive grid cells */
  border-color: var(--blue-7);
  transition: border-color 0.25s ease;
}

.gridCell--interactive:hover {
  /* Styles for hovered grid cells */
  background-color: var(--blue-a5);
  transition: opacity 0.25s ease, background-color 0.25s ease;
}

.gridCell--supercharged {
  /* Styles for supercharged grid cells */
  border-color: #e6c133;
  transition: border-color 0.25s ease;
}
