/* Grid Cell Styles (BEM) */
.gridCell {
  background-size: cover;  
  background-position: center; 
  background-color: var(--gray-a2); 
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* iOS Safari */
  -webkit-touch-callout: none; /* Disables long-press context menu */
  image-rendering: high-quality;
}

.gridCell__label {
  filter: drop-shadow(0px 0px 4px black);
}

.gridCell--interactive {
  /* Styles for grid cells interaction*/
  cursor: pointer;
}

.gridCell--inactive {
  border-color: var(--blue-a4);
  background-color: var(--gray-a2) ;
  transition: background-color 0.125s ease;
}

.gridCell--inactive:hover {
  /* Styles for hovered grid cells */
  background-color: var(--blue-a4) ;
  transition: background-color 0.125s ease;
}

.gridCell--active {
  border-color: var(--blue-9);
  background-color: var(--blue-a3);
  transition: border-color 0.125s ease;
}

.gridCell--active:hover {
  background-color: var(--blue-a5);
  transition: background-color 0.125s ease;
}

.gridCell--supercharged {
  /* Styles for supercharged grid cells */
  border-color:var(--amber-a11) !important;
  background-color: var(--amber-a6) !important;
  background-blend-mode: normal;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
  animation: pulseGlow .5s infinite alternate ease-in-out;
}


.gridCell--supercharged:hover {
  background-color: var(--amber-a8) !important;
  transition: background-color 0.25s ease;
}

.gridCell--red {
  border-color: var(--red-10);
  background-color: var(--blue-a5);
}

.gridCell--red:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--purple {
  border-color: var(--purple-10);
  background-color: var(--blue-a5);
}

.gridCell--purple:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--green {
  border-color: var(--green-10);
  background-color: var(--blue-a5);
}

.gridCell--green:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--cyan {
  border-color: var(--cyan-10);
  background-color: var(--blue-a5);
}

.gridCell--cyan:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--amber {
  border-color: var(--amber-8);
  background-color: var(--blue-a5);
}

.gridCell--amber:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--iris {
  border-color: var(--iris-10);
  background-color: var(--blue-a5);
}

.gridCell--iris:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--yellow {
  border-color: var(--yellow-9);
  background-color: var(--blue-a5);
}

.gridCell--yellow:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--sky {
  border-color: var(--sky-10);
  background-color: var(--blue-a5);
}

.gridCell--sky:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--jade {
  border-color: var(--jade-10);
  background-color: var(--blue-a5);
}

.gridCell--jade:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--orange {
  border-color: var(--orange-10);
  background-color: var(--blue-a5);
}

.gridCell--orange:hover {
  background-color: var(--blue-a7);
  transition: background-color 0.25s ease;
}

.gridCell--black {
  border-color: var(--gray-7);
  background-color: var(--gray-a5);
}

.gridCell--black:hover {
  background-color: var(--gray-a7);
  transition: background-color 0.25s ease;
}


.gridCell--gray {
  border-color: var(--gray-12);
  background-color: var(--blue-a7);
}

.gridCell--gray:hover {
  background-color: var(--blue-a9);
  transition: background-color 0.25s ease;
}


@keyframes pulseGlow {
  from {
    box-shadow: 0 0 4px 0px var(--amber-a7);
  }
  to {
    box-shadow: 0 0 4px 3px var(--amber-a8);
  }
}