@font-face {
  font-family: "GeosansLight";
  src: url("/src/assets/fonts/GeosansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "SourceSans";
  src: url("/src/assets/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

/* Import Radix styles first */
@import "@radix-ui/themes/styles.css";

/* Use @tailwind to import Tailwind layers */
@import "tailwindcss/theme.css" layer(theme);
/* THEN import Tailwind's preflight */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Apply custom font styles using Tailwind's @layer directive */

.radix-themes {
  --default-font-family: "SourceSans", sans-serif;
}

/* Background styles */
body {
  /* Combine background properties */
  background: url("/src/assets/img/nms_background.webp") center/cover fixed;
  height: 100vh;
  overflow-x: hidden;
}

/* Background overlay */
body::before {
  content: "";
  position: fixed; /* Covers the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Vaiablies for our grid CLAMP calculations */
:root {
  --grid-cell-size: clamp(36px, 7.2vw, 64px);
  --grid-gap: clamp(2px, 1vw, 8px);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(10, var(--grid-cell-size)) auto;
  grid-template-rows: repeat(6, var(--grid-cell-size));
  gap: var(--grid-gap);
}
