@font-face {
  font-family: "GeosansLight";
  src: url("/src/assets/fonts/GeosansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Raleway';
  src: url('/src/assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@import "@radix-ui/themes/styles.css";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Apply custom font styles using Tailwind's @layer directive */

.radix-themes {
  --default-font-family: Raleway, Helvetica, Arial, sans-serif
}


/* Vaiablies for our grid CLAMP calculations */
:root {
  --grid-min-size: 26px;
  --grid-max-size: 64px;
  --grid-gap-min-size: 2px;
  --grid-gap-max-size: 8px;
  --grid-cell-size: clamp(var(--grid-min-size), 7vw, var(--grid-max-size));
  --grid-gap: clamp(var(--grid-gap-min-size), 1vw, var(--grid-gap-max-size));
}

/* App.tsx level styling */

/* Background styles */
body {
  /* Combine background properties */
  background: url("/src/assets/img/nms_background.webp") center/cover fixed;
  height: 100vh;
  overflow-x: hidden;
}

/* Background overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.optimizer__header--logo  {
    filter: invert(90%) drop-shadow(0 0 8px var(--gray-10));
}

.optimizer__header--icon, .optimizer__header--title {
  filter: drop-shadow(0 0 8px var(--gray-7));
}