.gridContainer__sidebar {   
    width: 336px;
    background-color: var(--gray-a1);
    border-color: var(--gray-a3); 
}

.gridContainer__platform {
    font-family: "GeosansLight-NMS", sans-serif;
    filter: drop-shadow(0 0 4px var(--gray-6));
}